<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Ivy sun </title>
  <link href="styles/quizResult.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <script src="scripts/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&display=swap" rel="stylesheet">
</head>

<body>
  <div id="nav-background">
    <div id="nav-container">
      <header id="nav-header">
        <h1><a class="nav-logo-function" href="index.html#home" id="nav-logo">
           
            Ivy
          </a></h1>
        <img src="styles/image/Hamburger_icon.svg.png" class="hamburger-img" id="nav-menu-button">
      </header>
      <nav>
        <ul class="nav-ul hide-ul">
          <li><a class="nav-link" href="index.html#about">About Us</a></li>
          <li><a class="nav-link" href="index.html#contact">Contact</a></li>
          <li><a class="nav-link" href="search.html">Search</a></li>


        </ul>
      </nav>
    </div>
  </div>
  <script src="scripts/nav.js"></script>

  <div class="text">
    <h2> What ingredients we recomend: </h2>
    <p> water (aqua), acacia senegal gum, panthenol, betaine, carrageenan, glycerin, propanediol, phytic acid, potassium
      sorbate, polydextrose, dextrin, allantoin, niacinamide, amylopectin, oleanolic acid, salicylic acid, arnica
      montana flower extract, enantia chlorantha bark extract, cynara scolymus (artichoke) leaf extract, pyridoxine
      cyclic phosphate, butylene glycol, sodium acrylates crosspolymer-2, phenoxyethanol, hexylene glycol, caprylyl
      glycol </p>
  </div>

  <div class="images">
    <img class="img" src="styles/image/betaine.png">
    <img class="img" src="styles/image/panthenol.png">
    <img class="img" src="styles/image/allantonin.png">
  </div>

  <div class="text">
    <h2> What you should NOT use on your face: </h2>
    <p> oxybenzone, titanium dioxide, phenol, sulfates, palm oil, petroleum, drying alcohols, gluten </p>
  </div>
</body>

</html>