<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Ivy sun </title>
        <link href="styles/skinQuiz.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <script src="scripts/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="nav-background">
            <div id="nav-container">
              <header id="nav-header">
                <h1><a class="nav-logo-function" href="index.html#home" id="nav-logo">
           
                  Ivy
                </a></h1>
                <img src="styles/image/Hamburger_icon.svg.png" class="hamburger-img" id="nav-menu-button">
              </header>
              <nav>
                <ul class="nav-ul hide-ul">
                  <li><a class="nav-link" href="index.html#about">About Us</a></li>
                  <li><a class="nav-link" href="index.html#contact">Contact</a></li>
                  <li><a class="nav-link" href="search.html">Search</a></li>
                
                  
                </ul>
              </nav>
            </div>
        </div>
        <script src="scripts/nav.js"></script>

        <div class="header">
            <h1> You are one quiz away from a happy skin! </h1>
        </div>
        <div class="skin type">
            <div class="question">
                <h3> How would you describe your skin type? </h3>
            </div>
            <div class="answer">
                <button class="btn L"> dry </button>
                <button class="btn L"> balanced </button>
                <button class="btn R"> oily </button>
                <button class="btn R"> combination </button>
            </div>    
        </div>

        <div class="skin makeup">
            <div class="question">
                <h3> How much makeup do you use on a daily basis? </h3>
            </div>
            <div class="answer">
                <button class="btn L"> none </button>
                <button class="btn L"> a little </button>
                <button class="btn R"> a decent amount </button>
                <button class="btn R"> full coverage </button>
            </div>    
        </div>

        <div class="skin sensitive">
            <div class="question">
                <h3> How often is your skin sensitive? </h3>
            </div>
            <div class="answer">
                <button class="btn L"> never </button>
                <button class="btn L"> rarely </button>
                <button class="btn R"> sometimes </button>
                <button class="btn R"> all the time </button>
            </div>    
        </div>

        <div class="skin goals">
            <div class="question">
                <h3> Select up to 3 skin goals: </h3>
            </div>
            <div class="answer">
                <button class="btn L"> hydratate </button>
                <button class="btn L"> anty-aging </button>
                <button class="btn R"> minimize pores </button>
                <button class="btn R"> tighten </button>
            </div>  
            <div class="answer">
                <button class="btn L"> reduce shine </button>
                <button class="btn L"> reduce breakouts </button>
                <button class="btn R"> brighten </button>
                <button class="btn R"> calm/soothe </button>
            </div>  
        </div>

        <div class="skin disclaimer">
            <div class="question">
                <h3> DISCLAIMER: The results provided are based only on your answers so double check before continuing. </h3>
            </div>
            <form action="quizResult.html">
                <div class="answer">
                    <button class="btn"> Show my personalised formula </button>
                </div> 
            </form>   
        </div>

    </body>
</html>